@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');


html {
 overflow:scroll;
  overflow-x:hidden;
}

::webkit-scrollbar {
 height:0;
  background:transparent;
}
h1 {
font-weight:300px;
 padding-top:30px;
  padding-bottom:20px;

}

 
h2 + img,h3 + img {
    padding:0 0 0 0;
    margin:0;
}

h2 + h3 {
    padding-top: 10px;
  padding-bottom:20px;
    margin:0;
}

h2,h3,h4 {
    font-family: Roboto;
    font-weight:200;
}
